<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Sign Up</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Reference Bootstrap files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="signupbox" style="margin-top: 50px;"
		class="mainbox">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign Up</div>
			</div>
			<div class="panel-body">
				<form action="#" th:action="@{/account/processRegistration}"
					th:object="${userDTO}" method="POST" class="form-horizontal">
					
					<div class="form-row">
						<div class="form-group col-6">
							<label for="firstname" class="control-label">First Name</label>
							<input type="text" th:field="*{firstName}" placeholder="First Name" required="required">
						</div>
						<div class="form-group col-6">
							<label for="lastName" class="col-2 control-label">Last Name</label>
							<input type="text" th:field="*{lastName}" placeholder="Last Name" required="required">
						</div>
						
						
					</div>
					
					<div class="form-group">
						<label for="email" class="col-md-4 control-label">Email</label>
						<div class="col-md-8">
							<input type="text" th:field="*{email}" placeholder="Email" required="required">
						</div>
					</div>
					
					<div class="form-group">
						<label for="username" class="col-md-4 control-label">Username</label>
						<div class="col-md-8">
							<input type="text" th:field="*{username}" placeholder="Username" required="required">
						</div>
					</div>
					
					<div class="form-group">
						<label for="password" class="col-md-4 control-label">Password</label>
						<div class="col-md-8">
							<input type="password" th:field="*{password}" placeholder="Password" required="required">
						</div>
					</div>
					
					<button type="submit" class="btn btn-info">Sign Up</button>
					
					<div>
							<hr>
							<a th:href="@{/account/login}">Login</a>
						</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>